<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= translations["home"] %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">

    <% include include/css.ejs %>
</head>

<body class="<%=locale%>">

<div id="page">
    <div id="sms-vc" class="page-container"><%- appHtml %></div>
</div>
<% include include/js.ejs %>
<script src="/js/components/smsvc-bundle.js"></script>
</body>
</html>
